<form
  class="bg-[#101010] mb-4 rounded-xl border border-gray-800 shadow-sm p-4 flex flex-col gap-3"
  (submit)="formSubmit($event)"
>
  <textarea
    name="input-box"
    rows="3"
    class="w-full resize-none rounded-md border border-gray-700 bg-[#1a1a1a] px-4 py-2 text-sm text-gray-200 placeholder-gray-500 focus:ring-2 focus:ring-white focus:outline-none"
    [placeholder]="placeholder()"
  ></textarea>

  <div class="flex justify-end">
    <button
      type="submit"
      class="rounded-full bg-white text-black px-5 py-1.5 text-sm font-medium hover:bg-gray-200 transition-all"
    >
      {{ buttonText() }}
    </button>
  </div>
</form>
